In [1]:
import pandas as pd

In [ ]:
#Una vez importado pandas pongo datos de 5 personas y creo el dataframe que lo llamaré df

In [4]:
persona1 = ['Diego', 24,'Santander']

In [5]:
persona2 = ['Pablo', 20,'Guarnizo']

In [6]:
persona3 = ['Juan', 17, 'Liencres']

In [7]:
persona4= ['Fidel', 28,'Miengo']

In [8]:
persona5= ['Pedro', 33, 'Maliaño']

In [10]:
personas = [persona1,persona2,persona3,persona4,persona5]

In [37]:
df=pd.DataFrame(personas, columns = ['Nombre', 'Edad', 'Localidad'])

In [39]:
df

  Nombre  Edad  Localidad
0  Diego    24  Santander
1  Pablo    20   Guarnizo
2   Juan    17   Liencres
3  Fidel    28     Miengo
4  Pedro    33    Maliaño

In [ ]:
Selecciono personas para ver que funciona correctamente.

In [17]:
personas[2]

['Juan', 17, 'Liencres']

In [13]:
personas[2:4]

[['Juan', 17, 'Liencres'], ['Fidel', 28, 'Miengo']]

In [ ]:
#Para seleccionar los datos de una fila lo haremos mediante df.loc, además de que lo especificaremos más poniendo la columna nombre

In [36]:
tercerafila = df.loc[2, 'Nombre']

In [26]:
tercerafila

'Juan'

In [27]:
colNombre = df['Nombre']

In [28]:
print (colNombre)

0    Diego
1    Pablo
2     Juan
3    Fidel
4    Pedro
Name: Nombre, dtype: object

In [29]:
colEdad = df['Edad']

In [30]:
print (colEdad)

0    24
1    20
2    17
3    28
4    33
Name: Edad, dtype: int64

In [ ]:
#Utilizando df.loc[int] nos saldrá todos los datos de aquella fila utilizando el índice.

In [31]:
segundaFila = df.loc[1]

In [32]:
print (segundaFila)

Nombre          Pablo
Edad               20
Localidad    Guarnizo
Name: 1, dtype: object

In [ ]:
#Para filtrar un filtro y solo mostrar las filas que cumplen dichas condiciones deberemos de poner df[df... ya que si ponemos un solo df para filtrarlo nos creará un filtro de booleano

In [44]:
df[df['Edad']>25]

  Nombre  Edad Localidad
3  Fidel    28    Miengo
4  Pedro    33   Maliaño